<ul id="items">
	<% if @items.any? %>
		<% @items.each do |item| %>
			<li>
				<a href="<%= "http://#{item.shop.domain}/products/#{item.product.handle}" %>" target="_parent">
					<div class="item">
						<%= image_tag item.product.img_url %>
						<p class="ticker-message"><%= item.message %> <i><%= time_ago_in_words item.created_at %></i> ago.</p>
					</div>
				</a>
			</li>
		<% end %>
	<% end %>
</ul>

<%= javascript_tag do %>
	offset = <%= @offset %>;
	
	$(document).ready(
		function(){
			setInterval(function(){
				$.ajax({
					url: '/sold_items/<%= current_shop.id %>/fetch/',
					data: { offset: offset },
					success: function(data) { prepend_item_from(data); }
				});
		}, 15000);
	});
<% end %>
