<!DOCTYPE html>
<html lang="en">
<head>
	<%= stylesheet_link_tag 'ticker' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'ticker' %>
  <%= csrf_meta_tags %>
</head>
<body class="well">
  <div id="ticker-container">
    <div id="ticker-box" class="span12">
      <%= yield %>
    </div>
  </div>
</body>
</html>
